*{
  font-family: "Poppins";
}

.title{
  background-color: #068b9c;
  color: #fff;
}

.features{
    background-color: aliceblue;
}

.feature-title {
    font-size: 1.5rem;
    padding-top: 2rem;
}

.social-icon {
    margin: 20px 10px;
}

.feature-box {
    padding: 4.5%;
}

h1,h2,h3,h4,h5,h6,p,label{
color: black;
}

.title-image {
    width: 70%;

    right: 30%;
}


.container-fluid,.card {
    padding: 1%;
}

sub{
color: #000000;
}

sup{
    color: #ffffff;
}

.navbar-nav {
    margin-left: auto;
}



.btn-custom {
    color: #fff;
    background-color: #4ec8d8;
    border-color: #4ec8d8;
}

.btn-custom:hover {
    color: #4ec8d8;
    background-color: #fff;
    border-color: #4ec8d8;
}
.nav-item{
margin-left: 15px;
margin-right: 15px;
}

.navbar-custom{
    background-color: #068b9c;
    padding: 0 0 3rem;
}

.navbar-brand{
    font-family: "Poppins";
}

.nav-link{
    font-family: "Poppins";
}




/* Sign-in */

.login-container {
    height: 100vh;
    width: 100%;
}

.login-form {
    margin: auto;
    width: 370px;
    padding: 15px;
    max-width: 100%;
}

.login-form .form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.login-form a {
    text-decoration: none;
    color: black;

}

.login-form a:hover {
    color: #182729;
}

.forgot-link {
    font-size: 13px;
}




.create-form{
    padding-top: 2rem;
}

.breadcrumb-item{
    font-size: 1.2rem;
    color: #fff;
}